<div class="card">

    <div class="header">
        <h2 class="title">Flight Edit</h2>
    </div>
    <div class="content">
    
      <div class="alert alert-info" *ngIf="message">
          {{message}}
      </div>

    Id: {{ flight?.id }}
    <form *ngIf="!flight">
        ... Lade Daten ...
    </form>
    <form *ngIf="flight">
        <div class="form-group">
            <label>Id:</label>
            <input name="id" [(ngModel)]="flight.id" class="form-control">
            <div>Erlaubt ist Id == 0 (neuen Datensatz) und Ids > 5 zum Aktualisieren.</div>
        </div>
    
        <div class="form-group">
            <label>From:</label>
            <input name="from" [(ngModel)]="flight.from" class="form-control">
        </div>
        <div class="form-group">
            <label>To:</label>
            <input name="to" [(ngModel)]="flight.to" class="form-control">
        </div>
    
        <div class="form-group">
            <label>Date:</label>
            <input name="date" [(ngModel)]="flight.date" class="form-control">
        </div>


        <div class="form-group">
            <button 
                class="btn btn-default"
                (click)="save()">Save</button>
    
        </div>
    </form>
    
    </div>
    </div>
  